@import url('https://fonts.googleapis.com/css?family=Cabin:300,400,500,600+Roboto');

body {
  font-family: 'Arial', sans-serif;
}

h1 {}

@media (min-width: 768px) {
  .container {
    width: 850px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 980px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 980px;
  }
}

div.c3 { 
  width:31%;  
  margin-right: 13px;
}

.navbar-default {
  text-align: center;
	margin-top: 10px;
	margin-bottom: 0px;
	border-bottom: 1px solid #F0F0F0;
  background-color: white;
}
.navbar-brand > img.main-logo {
	width: 140px;
	margin-top: -10px;
}


.navbar-form {
  margin-left: 75px;
  margin-right: -15px;
}
.navbar-form > .form-group {
	width: 350px;
}
.navbar-form > .form-group > input.form-control {
	width: 100%;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	border-radius: 0px;
}
.navbar-form > .form-group > input.form-control::-webkit-input-placeholder { 
	/* Chrome/Opera/Safari */
  	color: grey;
  	font-size: 11px;
}
.navbar-form > .form-group > input.form-control::-moz-placeholder { 
	/* Firefox 19+ */
  	color: grey;
  	font-size: 11px;
}
.navbar-form > .form-group > input.form-control:-ms-input-placeholder { 
	/* IE 10+ */
  	color: grey;
  	font-size: 11px;
}
.navbar-form > .form-group > input.form-control:-moz-placeholder { 
	/* Firefox 18- */
  	color: grey;
  	font-size: 11px;
}
.navbar-form > button.btn-default {
	text-transform: uppercase;
	font-weight: 500;
	background-color: #060581;
	color: white;
	border: none;
	font-size: 13px;
	border-radius: 0px;
	padding: 7.5px 24px 7.5px 24px;
}

.navbar-default  .navbar-nav > li > a {
    font-weight:600;
    font-family: 'Cabin', sans-serif;
    color: black !important;
  	text-transform: uppercase;
  	margin: 3px 0px 0px 0px;
}
nav.navbar-default  .navbar-nav > li > a:hover,
nav.navbar-default  .navbar-nav > li > a:focus {
  	color:  #060581;
  	background-color: transparent;
}
nav.navbar-default  .navbar-nav > .active > a,
nav.navbar-default  .navbar-nav > .active > a:hover,
nav.navbar-default  .navbar-nav > .active > a:focus {
  	color:  #060581;
  	background-color: #e7e7e7;
}
nav.navbar-default  .navbar-nav > .disabled > a,
nav.navbar-default  .navbar-nav > .disabled > a:hover,
nav.navbar-default  .navbar-nav > .disabled > a:focus {
  	color:  #060581;
  	background-color: transparent;
}

@media (min-width: 768px) {
  .navbar-left {
    float: left !important;
  }
  .navbar-right {
    float: right !important;
    margin-right: -15px;
  }
  .navbar-right ~ .navbar-right {
    margin-right: 0;
  }
}
.navbar-default {
  background-color: transparent;
  border-color: none !important;
}
.navbar-default .navbar-brand {
  color: #777777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #777777;
}
.navbar-default .navbar-nav > li > a {
  color: #777777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333333;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555555;
  background-color: #e7e7e7;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
 
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #888888;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: none !important;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #e7e7e7;
  color: #555555;
}

/*  NAVBAR STICKy */
a.sticky-logo > img.main-logo {
  margin-top: -6px;
  width: 80px;
}
.navbar-sticky {
  background-color: white;
  margin-bottom: -40px;
}

/*  MODE VIDIO NAVBAR */
.mode-vidio {
  background-color: black;
  padding-top: 30px;
  padding-bottom: 30px;
}

.content-wrapper {
   margin-top: 15px;
   padding-bottom: 30px;
}

.adsvertising {
  width: 100%;
  text-align: center;
}

.featured-news {
  width: 100%;
  margin-top: 15px;
  min-height: 600px;
}

.item-box-related {
    width: 51%;
    float: right;
    margin-top: 15px;
    border-left: 2px solid #EEEEEE;
}

.item-featured {
  float: left;
  margin-top: 10px;
  width: 46%;
}
.item-featured > small {
  font-size: 8pt;
}
.item-featured > h3.item-heading {
  font-family: 'Roboto', sans-serif;
  line-height: 1.3em;
  margin-top: 10px;
  font-size: 16pt;
  font-weight: bold;
}

.item-featured > h3.item-heading > a {
  color: black;
}
.item-featured > h3.item-heading > a:hover {
  color: #6666B2;
  text-decoration: none;
}

.item-featured > .item-content {
  font-size: 9pt;
  letter-spacing: 0.7px;
}

.item-box-related > h4.related-heading {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 10pt;
  color: grey;
  font-weight: 600;
  padding-left: 20px;
}

.item-box-related > ul.list-related {
  font-size: 9.5pt;
  line-height: 1.5em;
}
.item-box-related > ul.list-related > li {
  margin-bottom: 5px;
}
.item-box-related > ul.list-related > li > a {
    font-weight: 600;
    color: black;
}

.item-box-related > ul.list-related > li > a:hover {
  text-decoration: none;
  color: #6666B2;
}

/*  SIDEBAR */
.box-sidebar {
  margin-top: 15px;
}
.box-topic-tag,
.box-category-1 {
  float: left;
}
.box-adsvertising {
  margin-top: -20px;
}

/* BOX TAG */

.box-sidebar > .box-topic-tag > h3.sidebar-heading,
.box-sidebar > .box-category-1 > h3.sidebar-heading,
.featured-heading {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 10pt;
  font-weight: 600;
  padding-left: 10px;
}
span.more-heading {
  text-transform: normal;
}

.box-topic-tag > ul.list-topic-tag {
  font-size: 10pt;
  line-height: 1.5em;
  list-style: none;
  text-transform: uppercase;
}
.box-topic-tag > ul.list-topic-tag > li:before {
  content: '#';
  padding-right: 20px;
  color: #6666B2;
}
.box-topic-tag > ul.list-topic-tag > li {
  margin-left: -27px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1.2px solid #EEEEEE;
}
.box-topic-tag > ul.list-topic-tag > li > a {
    font-weight: 600;
    color: black;

}
.box-topic-tag > ul.list-topic-tag > li > a:hover {
  text-decoration: none;
  color: #6666B2;
}

/*  BOX CATEGORY-1 */
.box-category-1 > .item-featured {
  width: 100%;
  margin-top: 0px;
}
.box-category-1 > .item-featured > h4.item-heading,
.box-category-1 > .media-news > .media-item > .media-content h4.media-title {
  font-family: 'Roboto', sans-serif;
  line-height: 1.3em;
  margin-top: 9px;
  font-size: 10pt;
  font-weight: bold;
}
.box-category-1 > .item-featured > h4.item-heading > a {
  color: black;
}
.box-category-1 > .item-featured > h4.item-heading > a:hover {
  text-decoration: none;
  color: #6666B2;
}

/*  MEDIA-NEWS */
.box-category-1 > .media-news {
  display: inline-block;
}
.box-category-1 > .media-news > .media-item {
  margin-bottom: 10px;
  border-bottom: 1.2px solid #EEEEEE;
  height: 70px;
}
.box-category-1 > .media-news > .media-item > .media-image img {
  width: 30%;
  height: 60px;
  float: left;
}
.box-category-1 > .media-news > .media-item > .media-content {
  width: 70%;
  float: right;
}
.box-category-1 > .media-news > .media-item > .media-content h4.media-title {
  padding-left: 10px;
  margin-top: 0px;
}
.box-category-1 > .media-news > .media-item > .media-content > h4.media-title a  {
  color: black;
}
.box-category-1 > .media-news > .media-item > .media-content > h4.media-title a:hover {
  text-decoration: none;
  color: #6666B2;
}

/*  BIG LOOP */
.box-big-loop  {
  float: left;
}
.box-big-loop > .big-loop-item  {
  border-bottom: 1.2px solid #EEEEEE;
  margin-bottom: 10px;
  display: inline-block;
}
.box-big-loop > .big-loop-item > a img {
    float: left;
    width: 31%;
    padding-bottom: 20px;
}
.big-loop-item > .item-content  {
  width: 67%;
  float: right;
}
.big-loop-item > .item-content > a span.category-title {
  font-family: 'Roboto', sans-serif;
  font-size: 9pt;
  font-weight: bold;
  color: grey;
  text-transform: uppercase;
}
.big-loop-item > .item-content > a {
  text-decoration: none;
}
.big-loop-item > .item-content > a span.category-title:hover {
  color: #6666B2;
  text-decoration: none;
}
.big-loop-item > .item-content > p {
  font-size: 9pt;
  letter-spacing: 0.7px;
}
.big-loop-item > .item-content > h4.item-heading > a {
  color: black;
  font-weight: 600;
  font-size: 12pt;
}
.big-loop-item > .item-content > h4.item-heading > a:hover {
  text-decoration: none;
  color: #6666B2;
}

/*  FOOTER */
footer {
  width: 100%;
  min-height: 80px;
  background-color: #F5F5F5;
}

div.navigation-footer {
  margin-top: 20px;
}
div.navigation-footer > ul.navigation {
    list-style: none;
    margin-left: -25px;
    width: 75%;
}
div.navigation-footer > ul.navigation  li {
    display: inline;
    margin-right: 30px;
}
div.navigation-footer > ul.navigation > li > a {
    font-weight:600;
    font-family: 'Cabin', sans-serif;
    color: black !important;
    text-transform: uppercase;
}

div.navigation-footer > ul.navigation > li > a:hover {
  text-decoration: none;
  color: #060581 !important;
}
p.copyright {
  color: #B3B3B3;
  font-size: 10pt
}

p.copyright > small > a {
  color: #797972;
  text-decoration: none;
}

div.navigation-footer > ul.social-icon {
    list-style: none;
    width: 30%;
    margin-top: -30px;
}
div.navigation-footer > ul.social-icon  li {
    display: inline;
    margin-right: 5px;
}
div.navigation-footer > ul.social-icon > li > a img {
  width: 30px;
}

/*  SINGLE CONTENT */
div.single-content {
  padding-top: 30px;
}
div.single-content > h1 {
  font-weight: 600;
  font-size: 22pt;
}

/*  BREADCRUMBS */
.content-breadcrumb > ul.breadcrumb {
  background-color: transparent;
  font-family: 'Cabin', sans-serif;
  margin-left: -13px;
}
.content-breadcrumb > ul.breadcrumb > li a {
  color: grey
}

/* AUTHOR BOX */
div.author-box {
  padding-top: 10px;
}
div.author-box > .media {
  width: 50%;
  float: left;
  font-family: 'Cabin', sans-serif;
}
div.author-box > .media > .media-body > a {
  font-weight: 600;
  color: grey;
  cursor: pointer;
}
div.author-box > .media > .media-body > small {
  color: silver;
}
article.content-news {
  margin-top: 20px;
  font-family: 'Cabin', sans-serif;
  color: grey;
  font-size: 12pt;
}
article.content-news > figure {
  border-bottom: 1.2px solid #EEEEEE;
  margin-bottom: 20px;
}
article.content-news > figure > figcaption {
  color: grey;
  font-size: 9pt;
  padding: 10px;
  font-style: italic;
}
article.content-news > p {
  line-height: 1.5em;
  padding-bottom: 7px;
}