body {
  background-color: #F7F7F7
}
/*  NAVBAR  */
nav.navbar {
  background-color: white;
  font-family: 'PT Sans Narrow', sans-serif;
  max-height: 50px;
}
.navbar-header {
  border-bottom: 1.5px solid #0000e5;
}
.navbar-toggle:focus {
  background-color: none;
}
.navbar-default .navbar-toggle {
  border-color: #0000e5;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #0000e5;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #0000e5;
  border: none;
}
.navbar-toggle:hover .icon-bar {
    background-color: white;
    border: none;
}
.navbar-collapse {
  background-color: #F9F9F9
}
.navbar-collapse > .navbar-form {
  border:none;
  padding-top: 5px;
}
.navbar-form > .input-group > input.form-control {
  width: 100%;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border-radius: 0px;
}
.form-control:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar-form > .input-group > input.form-control::-webkit-input-placeholder,
.navbar-form > .input-group > input.form-control::-moz-placeholder,
.navbar-form > .input-group > input.form-control:-ms-input-placeholder,
.navbar-form > .input-group > input.form-control:-moz-placeholder { 
    color: grey;
    font-size: 9pt;
}
.navbar-form > button.btn-default {
  text-transform: uppercase;
  font-weight: 600;
  background-color: #0000E5;
  color: white;
  border: none;
  font-size: 13px;
  border-radius: 0px;
  padding: 8px 24px 8px 24px;
}
.user-menu > div.avatar {
  margin-top: 10px;
  width: 40%;
  font-size: 7pt;
}
.user-menu > div.avatar > span {
  margin-left: 10px;
}
.user-menu > div.avatar > img.img-circle {
  width: 30px;
}
.user-menu > ul.menu {
  margin-top: 5px;
  float: right;
}
.user-menu > ul.menu > li {
  display: inline;
  margin-right: 10px;
}
.user-menu > ul.menu > li a {
  color: #727272;
  font-weight: bold;
}

/* MENU LIST */
.navbar-nav li:nth-of-type(1) {
  border: none;
  box-shadow: none;
}
.navbar-nav li {
  border-bottom: 1px solid #F0F0F0;
  box-shadow: 0px 0px 1px #F0F0F0;
}
.navbar-nav li a {
  font-weight: bold;
}
div.start {
  height: 50px;
  width: 100%;
}
.container-fluid {
  
}
/*  HELPER COLOR  */
.bg-red {
  background-color: #f60000;
  color: white;
}
.bg-blue {
  background-color: #0000E5;
  color: white;
}
.top2x {
  padding-bottom: 20px;
}
/* CONTENT 

   TAGS 
*/
ul.top-trending-tags {
  font-size: 7pt;
  padding-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  margin-left: -25px;
  list-style: none;
  font-family: 'PT Sans Narrow', sans-serif;
}
ul.top-trending-tags > li a:before{
  content: '#';
}
ul.top-trending-tags > li {
  display: inline-block;
  margin-right: 5px;
 /*  border: .1px white solid;
 border-radius: 5px; */
  padding: 2px 5px 2px 5px;
}
ul.top-trending-tags > li a {
  color: white;
}
div.headline-news {
  font-family: 'PT Sans Narrow', sans-serif;
}
div.headline-news > .content-headline {
  padding: 0px 10px 10px 10px;
  color: white;
}
div.headline-news > .content-headline a h1 {
  font-size: 15pt;
  font-weight: 600;
  color: #e4e500;
  margin-top: 7px;
  margin-bottom: 0px;
}
div.headline-news > .content-headline > div.desc {
  font-size: 8pt;
  margin-top: 5px;
}
.content-headline > div.desc > a.category {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

.media-body > a span.category-title{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 7pt;
  color: #f60000;
}
.media-body > a h4.media-heading {
  color: black;
  font-weight: bold;
  font-size: 10pt;
}
.media-body > a h4.media-heading:hover {
  text-decoration: none;
  color: #6666B2;
}
.media-body > time.timeago {
  font-size: 7pt;
  margin-left: 10px;
  font-style: italic;
}
.media {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #F0F0F0;
}
/* BOX */
div.box {

}
div.box > h3.box-heading {
    font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12pt;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}
div.box > a.more-button-icon {
  float: right;
  color: white;
}
div.box > ol.list-article {
  margin-left: -22px;
  margin-top: 10px;
  overflow: hidden;
  counter-reset: numList;
}
div.box > ol.list-article > li {
    float: left;
    position: relative;
    padding-left: 20px;
    display: inline-block;
    width: 100%;
    padding-bottom: 15px;
    margin-top: 8px;
    border-bottom: 1px solid #F0F0F0;
}
div.box > ol.list-article > li:before {
    counter-increment: numList;
    content: counter(numList);
    
    float: left;
    position: absolute;
    left: -20px;
    top: -3px;
    padding-top: 7px;
    
    font: bold 12px sans-serif;
    text-align: center;
    color: #fff;
    line-height: 18px;
    
    width:30px; height:30px;
    background:#f60000;
    
    -moz-border-radius: 999px;
    border-radius: 999px
}
div.box > ol.list-article > li a {
  color: black;
  font-weight: bold;
  font-size: 10pt;
}
div.box > ol.list-article > li a:hover {
  text-decoration: none;
  color: #6666B2;
}
/* FOOTER  */
div.navigation-footer {
  margin-top: 20px;
  font-size: 8pt;
}
div.navigation-footer > ul.navigation {
    list-style: none;
    margin-left: -25px;
    padding-bottom: 5px;
    border-bottom: 1px solid #F0F0F0;
}
div.navigation-footer > ul.navigation  li {
    display: inline;
    margin-right: 10px;
}
div.navigation-footer > ul.navigation > li > a {
    font-weight:600;
    font-family: 'Cabin', sans-serif;
    color: black !important;
}

div.navigation-footer > ul.navigation > li > a:hover {
  text-decoration: none;
  color: #060581 !important;
}
div.navigation-footer > ul.social-icon {
    list-style: none;
}
div.navigation-footer > ul.social-icon  li {
    display: inline;
    margin-right: 5px;
}
div.navigation-footer > ul.social-icon > li > a img {
  width: 30px;
}
p.copyright {
  color: #B3B3B3;
  margin-top: 0px;
  font-size: 9pt
}

p.copyright > small > a {
  color: #797972;
  text-decoration: none;
}